################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameTests/TestProject1/bin/Debug/net8.0
/GameTests/TestProject1/obj
/Design/maps/Dankaerts-Historis-9293.tif
/Design/maps/Dankaerts-Historis-9298.tif
/Design/maps/Dankaerts-Historis-9318.tif
/GameSource/Content/jsl-ancient.zip
