################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameTests/TestProject1/bin/Debug/net8.0
/GameTests/TestProject1/obj
